@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model userViewModel

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/plateformLandingPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body style="overflow-x : hidden;">
    @{
        Html.RenderPartial("_headerPartialView");
    }
    <div class="filters-section d-flex align-items-center flex-wrap justify-content-center"></div>
    <!-- grid and list view -->
    <div class="container py-md-5 py-3" style="display:block;" id="full">
        @*<!-- mission heading and icons end -->*@
        <center class="d-none" id="divLoader">
            <div class="spinner-border text-warning" style="width: 10rem; height: 10rem; margin-top:15%;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </center>
        <!-- mission heading and icons end -->
        <!-- missions gridview and listview start -->
        <div id="mission-list">
        </div>

    </div>

</body>


</html>
