@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container" style="max-width: 85vw;">

    <h1 class="mt-5 mb-4 mx-4">Volunteering Timesheet</h1>

    <div class="container">
        <div class="row justify-content-center mt-2 ">
            <div class="col-sm-12 col-md border mx-2 mb-3" style="max-height:80vh">
                <div class="d-flex ">
                    <h5 class="my-4 mx-3">
                        Volunteering Hours
                    </h5>
                </div>
                <table class="mx-3" style="width:100%">
                    <thead>
                    <th style="width:40%">Mission</th>
                    <th style="width:15%">Date</th>
                    <th style="width:15%">Hours</th>
                    <th style="width:15%">Minutes</th>
                    <th style="width:15%"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Assistant Manager</td>
                            <td>10/10/22</td>
                            <td>2</td>
                            <td>40</td>
                            <td>links</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md border mx-2 mb-3" style="max-height:70vh">
                <div class="d-flex">
                    <h5 class="my-4 mx-3">
                        Volunteering Goals
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>
