@model userAddStoryModel

<link rel="stylesheet" href="~/css/Codepen.css" />
<link rel="stylesheet" href="~/css/StoryAddPage.css"/>


<div class="container px-4 px-sm-2 mb-5" style="max-width:87%">
    @*heading*@
    <h1 class="my-4">Share your story</h1>

    @*story form*@
    <form method="post" asp-action="StoryAddPage" asp-controller="Story" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="missionDropDownList">Select Mission</label>
                <select class="form-select select" asp-for="MissionId"  onchange="GetDraftedStory();" required>
                    <option value="Select Mission">Select Mission</option>
                    @foreach (var mission in Model.MissionApplication)
                    {
                        <option value=@mission.MissionId >@mission.Mission.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="exampleInputEmail1">My Story Title</label>
                <input type="text" id="story_title" name="storyTitle" class="form-control" placeholder="Enter Story Title">
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="story_date">Date</label>
                <input type="date" name="storyDate" class="form-control" placeholder="Select Date" id="story_date" max='@Convert.ToDateTime(@DateTime.Now).ToString("yyyy-MM-dd")'>
            </div>
            <div class="col-12 my-4" id="textarea">
                <label class="mb-1" for="myStory">My Story</label>
                <textarea class="w-100" name="storyDesc" style="min-height: 300px" id="myStory"></textarea>
            </div>
            <div class="col-12">
                <label class="mb-1" for="exampleInputEmail1">Enter Video URL</label>
                <input class="form-control" type="url" placeholder="Enter video url" name="videoURL" id="video_url">
            </div>
        </div>

        <div class="uploadphoto mt-3">
            <div>
                <label for="uploadphoto">Upload your photos</label>
            </div>
            <div>
                <div id="drop-zone" class="my-1">
                    <span class="drop-text">
                        <div>
                            <i class="bi bi-plus fs-1"></i>
                        </div>
                        <div class="text-secondary">
                            Drag & Drop picture and video Here
                        </div>
                    </span>
                    <input input type="file" id="file-input" class="file" multiple="multiple" name="files" accept="image/jpeg, image/png, image/jpg" style="display: none;">
                </div>
                <div id="image-preview" class="mt-2"></div>
            </div>
        </div>

        <br>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <button class="btn border rounded-pill px-4 mt-2">Cancel</button>
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    <button class="btn border-warning text-warning rounded-pill px-4 mt-2" type="submit" id="saveStoryBtn">Save</button>
                    <button class="btn border-warning text-warning rounded-pill px-4 mt-2 disabled" id="submitStoryBtn">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>




<!-------------------------------------------------------------------------------------------->
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/6/tinymce.min.js"></script>
<script src="~/js/StoryAddPage.js"></script>

