@model userAddStoryModel

<link rel="stylesheet" href="~/css/Codepen.css" />
<link rel="stylesheet" href="~/css/StoryAddPage.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/ImageUploder.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/6/tinymce.min.js"></script>
<script src="~/js/StoryAddPage.js" asp-append-version="true"></script>


<script>
    $(document).ready(function () {
        $('#input-images').imageUploader({});
    })
</script>



<div class="container px-4 px-sm-2 mb-5" style="max-width:87%">
    @*heading*@
    <h1 class="my-4">Share your story</h1>

    @*story form*@
    <form method="post"  enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="missionDropDownList">Select Mission</label>
                <select class="form-select select" asp-for="MissionId" onchange="GetDraftedStory();" required>
                    <option value="">Select Mission</option>
                    @foreach (var mission in Model.MissionApplication)
                    {
                        <option value=@mission.MissionId>@mission.Mission.Title</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="MissionId"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="exampleInputEmail1">My Story Title</label>
                <input type="text" id="story_title" class="form-control" asp-for="storyTitle" placeholder="Enter Story Title">
                <span class="text-danger" asp-validation-for="storyTitle"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="mb-1" for="story_date">Date</label>
                <input type="date" class="form-control" asp-for="storyDate" placeholder="Select Date" id="story_date" max='@Convert.ToDateTime(@DateTime.Now).ToString("yyyy-MM-dd")' value="">
                <span class="text-danger" asp-validation-for="storyDate"></span>
            </div>
            <div class="col-12 my-4" id="textarea">
                <label class="mb-1" for="myStory">My Story</label>
                <textarea class="w-100" name="storyDesc" style="min-height: 300px" id="myStory"></textarea>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <p id="" class="ps-3"><span id="character_count"></span>/40000</p>
                </div>
            </div>
            <div class="col-12">
                <label class="mb-1" for="exampleInputEmail1">Enter Video URL</label>
                <input class="form-control" type="url" placeholder="Enter video url" name="videoURL" id="video_url" onkeypress="validateYouTubeUrl();">
            </div>
        </div>

        <div class="uploadphoto mt-3">
            <div class="mb-1">
                <label for="uploadphoto">Upload your photos</label>
            </div>
            <div>
                <lable class="input-images d-block" id="input-images"></lable>
            </div>
        </div>

        <br>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <a class="btn border rounded-pill px-4 mt-2" asp-action="storyListingPage" asp-controller="Story">Cancel</a>
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    <button class="btn border-warning text-warning rounded-pill px-4 mt-2" id="saveStoryBtn" asp-action="StoryAddAndEditPage" asp-controller="Story">Save</button>
                    <button class="btn border-warning text-warning rounded-pill px-4 mt-2 disabled" id="submitStoryBtn" asp-action="SubmitStory" asp-controller="Story" asp-route-missionId="@Model.MissionId">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>