@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container" style="max-width: 90vw;">

    <h2 class="mt-5 mb-4 mx-4">Volunteering Timesheet</h2>

    <div class="container">
        <div class="row justify-content-center mt-2 ">
            <div class="col-sm-12 col-md border mx-2 mb-3" style="max-height:80vh">
                <div class="d-flex ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md border mx-2 mb-3" style="max-height:70vh">
                <div class="d-flex">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar rutrum justo eu auctor. Interdum.</p>
                </div>
            </div>
        </div>
    </div>

</div>
