@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Footer -->
    <footer class="border-top footer1">
        <div class="container">
            <a href="#" class="text-start">Privacy Policy</a>
        </div>
    </footer>
