@using System.Security.Claims;
@{
    var identity = User.Identity as ClaimsIdentity;
    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    @await RenderSectionAsync("CssValue", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/CI_platform.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/plateformLandingPage.css" />
    <link rel="stylesheet" href="~/css/storyListingPage.css" asp-append-version="true" />


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid " id="top-header-row">
            <div id="nav-bar">
                <button class="navbar-toggler border-0" href="#menubar" role="button" data-bs-toggle="offcanvas"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        id="navbar-toggler-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="menubar" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" id="offcanvas-body" style="margin-left:3vw;">
                        <ul class="navbar-nav nav-item">
                            <a class="nav-link" aria-current="page" asp-controller="Story" asp-action="storyListingPage">Stories</a>
                        </ul>
                        <ul class="navbar-nav nav-item dropdown" >
                            <a class="nav-link" asp-controller="User" asp-action="VolunteerPolicy">
                                Privacy
                                <img src="~/images/drop-down.png" style="margin-left:5px" />
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="nav-bar">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link profile-link-part" href="#" id="navbarScrollingDropdown " role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                                @if (Model.UserDetails.Avatar != null)
                                {
                                    <img src="@Model.UserDetails.Avatar" class="rounded-circle" height="35" width="35" alt="Profile pic"/>
                                }
                                else
                                {
                                    <img src="~/images/default-user-icon.png" class="rounded-circle" height="35" width="35" alt="Profile pic" />
                                }
                                <span style="margin-left:5px;">@name @surname</span>
                                <img src="~/images/drop-down.png" style="margin-left:5px" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                @if (Model.UserDetails.Role == "ADMIN")
                                {
                                    <li><a class="dropdown-item btn" asp-controller="Admin" asp-action="AdminUserDetails">Admin Dashboard</a></li>
                                }
                                <li><a class="dropdown-item btn" asp-controller="Pages" asp-action="platformLandingPage">Platform landing</a></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="VolunteerProfile">Profile</a></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="VolunteerTimesheet">Volunteering Timesheet</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div id="nav-bar">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a asp-action="login" asp-controller="Home" class="nav-link profile-link-part">
                                <span>Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </div>
    </nav>

    <div>
        <main role="main">       
            @RenderBody()
            @{
                Html.RenderPartial("_footerPartialView");
            }
        </main>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js' asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/platfromLandingPage.js"></script>
    <script src="~/js/cardView.js"></script>
    <script src="~/js/volunteeringMissionPage.js"></script>
    <script src="~/js/imageUploader.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
