html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
    margin: 0;
}

.footer1 {
    position: relative;
    display: flex;
    top: 0vh;
    flex-basis: 8vh;
    height: 8vh;
    align-items: center;
}

::-webkit-scrollbar {
    height: 10px;
    width: 0.45rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
