a {
    cursor: pointer;
}

#story-views {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 0px 16px;
}

#open-mission {
    color: #F88634;
    border: 1px solid #F88634;
    border-radius: 25px;
    background: #fff;
    width: 100%;
}

    #open-mission:hover {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 25px;
        background: #F88634;
    }

#recommend-story {
    border: 1px solid #757575;
    border-radius: 25px;
    background: #fff;
    width: 100%;
}

    #recommend-story:hover {
        border: 1px solid #fff;
        border-radius: 25px;
        background: #757575;
        color: #fff;
    }

.story-title {
    color: #414141;
    font-size: 24px;
    position: relative;
}

    .story-title::before {
        content: "";
        height: 1px;
        position: absolute;
        display: block;
        width: 130px;
        top: auto;
        bottom: 0;
        background-color: #000;
    }

* {
    box-sizing: border-box;
}

#data {
    padding: 0 5rem 0 5rem;
}


/* Position the image container (needed to position the left and right arrows) */
/*.container {
    position: relative;
}*/

/* Hide the images by default */
/*.mySlides {
    display: none;
}*/

/*/ prevent streching for slider images /*/
/*.slider-images {
    object-fit: cover;
}*/

/*/ Add a pointer when hovering over the thumbnail images /*/
/*.cursor {
    cursor: pointer;
}*/

/*/ Next & previous buttons /*/
/*.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}*/

/*/ Position the "next button" to the right /*/
/*.next {
    margin-right: 16px;
    right: 0;
    border-radius: 3px 0 0 3px;
}*/

/*/ Six columns side by side /*/
/*.column {
    padding: 0 5px;
    float: left;
    width: 16.66%;
}*/

/*/ Add a transparency effect for thumnbail images /*/
/*.demo {
    opacity: 0.6;
    object-fit: cover;
}

    .active,
    .demo:hover {
        opacity: 1;
    }*/


.container {
    max-width: 90vw;
}

#missionPeriod {
    position: absolute;
    top: -20px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    border-radius: 20px;
    padding-inline: 2vw;
}

/*.mySlides {
    height: 85%;
}

    .mySlides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
*/

@media (max-width: 1199px) {
    #data {
        margin-top: 5vh;
        padding: 0 2rem 0 2rem;
    }
}

.modal-body{
    max-height:50vh;
    overflow-y:scroll;
}